<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - Hanova</title>
  </head>
  {% include 'header.html' %}
  <body>
    <main style="text-align: center; padding: 1rem">
      <h1 style="margin-bottom: 2rem">Reporte Dashboard</h1>
      <div style="display: flex; justify-content: center; margin-bottom: 4rem">
        <iframe
          width="1450"
          height="900"
          src="https://lookerstudio.google.com/embed/reporting/1b2f644d-bf30-4e15-862b-df86571adda2/page/p_9s50myoxtd"
          frameborder="0"
          style="border: 0; max-width: 100%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)"
          allowfullscreen
          sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
        ></iframe>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
