<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hanova Technical Case</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <header style="display: flex; justify-content: center; align-items: center">
      <a
        href="/"
        class="header-title-link"
        style="display: flex; align-items: center; gap: 1rem; text-decoration: none"
      >
        <img
          src="/static/hanova_logo.png"
          alt="Hanova Logo"
          style="height: 48px; width: auto; vertical-align: middle"
        />
        <h1 style="margin: 0">Hanova Case Challenge</h1>
      </a>
    </header>
    <div class="footer-nav-bar"><p></p></div>
  </body>
</html>
