<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  {% include 'header.html' %}
  <body>
    <main>
      <section style="text-align: center; max-width: 800px; margin: 0 auto; padding: 2rem">
        <h3>Construido para Hanova Technical Case por Rogelio Villarreal</h3>
        <p>Utilice los siguientes botones para navegar por el sitio:</p>
        <div style="display: flex; justify-content: center; gap: 1rem; margin-top: 2rem">
          <a href="dashboard" class="btn">Dashboard</a>
          <a href="api" class="btn">API</a>
          <a href="documentacion" class="btn">Documentación</a>
        </div>
        <p>O haciendo click en el título de la página.</p>
      </section>
    </main>
    {% include 'footer.html' %}
  </body>
</html>
