<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  {% include 'layout.html' %}
  <body>
    <main>
      <section style="text-align: center; max-width: 800px; margin: 0 auto; padding: 2rem">
        <h1>By Rogelio Villarreal</h1>
        <h3>Made for Hanova Consulting Technical Case</h3>
        <div style="display: flex; justify-content: center; gap: 1rem; margin-top: 2rem">
          <a href="api" class="btn">API</a>
          <a href="dashboard" class="btn">Dashboard</a>
          <a href="documentacion" class="btn">Documentación</a>
        </div>
      </section>
    </main>
    <footer>&copy; 2025 Hanova Technical Case - All Rights Reserved</footer>
  </body>
</html>
